@model Project
@{
    Layout = null;
    //Model.VotingEventId = ViewBag.votingEventId;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт для голосования</title>
</head>
<body>

    <div class="header">
        <div class="container-header">
            <a href="../VotingEvents/VotingEventEdit?votingEventId=@ViewData["votingEventId"]" class="back-arrow">&#8592;</a>
            <h1 class="title">Создать новую команду</h1>
        </div>
    </div>

    <div class="container-cp">
        <a asp-controller="Teams" asp-action="TeamDelete" asp-route-votingEventId="@ViewData["votingEventId"]" asp-route-projectId="@Model.Id">Удалить команду</a>
        @using (Html.BeginForm("TeamEdit", "Teams", FormMethod.Post))
        {
            <input asp-for="VotingEventId" type="hidden" value="@Model.VotingEventId" />
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <label asp-for="Title"></label>
            <div class="form-group">
                <label for="title">Название проекта:</label>
                <input asp-for="Title" required>
                <span asp-validation-for="Title"></span>
            </div>
            <label asp-for="Description"></label>
            <div class="form-group">
                <label for="description">Описание:</label>
                <input asp-for="Description" required>
                <span asp-validation-for="Description"></span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>email</th>
                    </tr>
                </thead>
                @{
                    int elementsCount = 0;
                    if (Model.Participants.Count > 0)
                    {
                        elementsCount = Model.Participants.Count - 1;
                    }
                    <tbody id="ParticipantList" data-count="@elementsCount">
                        @{
                            int count = 0;
                            foreach (var participant in Model.Participants)
                            {
                                <tr id="element-@count">
                                    <td><input id="elementId" type="hidden" name="Participants[@count].Id" value="@participant.Id" class="form-control" required /></td>
                                    <td><input id="elementName" type="text" name="Participants[@count].Name" value="@participant.Name" class="form-control" required /></td>
                                    <td><input id="elementEmail" type="text" name="Participants[@count].Email.EmailValue" value="@participant.Email?.EmailValue" class="form-control" required /></td>
                                    <td><button id="elementDelete" type="button" class="btn" onclick="DeleteRow(@count)">X</button></td>
                                </tr>
                                count++;
                            }
                            if (Model.Participants.Count == 0)
                            {
                                <tr id="element-0">
                                    <td><input id="elementId" type="hidden" name="Participants[0].Id" class="form-control" required /></td>
                                    <td><input id="elementName" type="text" name="Participants[0].Name" class="form-control" required /></td>
                                    <td><input id="elementEmail" type="text" name="Participants[0].Email.EmailValue" class="form-control" required /></td>
                                    <td><button id="elementDelete" type="button" class="btn" onclick="DeleteRow(0)">X</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                }
            </table>
            <button type="button" class="btn" onclick="AddRow()" id="addRowButton" formnovalidate="formnovalidate">Добавить участника</button>
            <button type="submit" id="submitButton" name="buttonParams" value="">Сохранить команду</button>
        }
    </div>

    <div class="footer">
        <p></p>
    </div>
</body>
</html>

<script src="@Url.Content("~/lib/jquery/dist/jquery.js")" type="text/javascript"></script>
<script>
    function AddRow() {
        var countVal = parseInt($('#ParticipantList').attr('data-count'));
        countVal += 1;
        var html = '';
        html += '<tr id="element-' + countVal + '">';
        html += '<td><input id="elementId" type="hidden" type="text" name="Participants[' + countVal + '].Id" class="form-control"/></td>';
        html += '<td><input id="elementName" type="text" name="Participants[' + countVal + '].Name" class="form-control" required/></td>';
        html += '<td><input id="elementEmail" type="text" name="Participants[' + countVal + '].Email.EmailValue" class="form-control" required/></td>';
        html += '<td><button id="elementDelete" type="button" class="btn" onclick="DeleteRow(' + countVal + ')">X</button></td>';
        html += '</tr>';
        $('#ParticipantList').append(html);
        $('#ParticipantList').attr('data-count', countVal);
    }
    function DeleteRow(id) {
        var countVal = parseInt($('#ParticipantList').attr('data-count'));
        if (countVal != -1) {
            if ($('#element-' + id).find('#elementId').attr('value') != undefined) {
                $('#submitButton').attr('value', $('#submitButton').attr('value') + ',' + $('#element-' + id).find('#elementId').attr('value'));
            }
            $('#element-' + id).remove();
            for (i = id + 1; i < countVal + 1; i++) {
                $('#element-' + i).find('#elementId').attr('name', 'Participants[' + (i - 1) + '].Id');
                $('#element-' + i).find('#elementName').attr('name', 'Participants[' + (i - 1) + '].Name');
                $('#element-' + i).find('#elementEmail').attr('name', 'Participants[' + (i - 1) + '].Email.EmailValue');
                $('#element-' + i).find('#elementDelete').attr('onclick', 'DeleteRow(' + (i - 1) + ')');
                $('#element-' + i).attr('id', 'element-' + (i - 1));
            }
            $('#ParticipantList').attr('data-count', countVal - 1);
        }
    }
</script>